[core]
       quotepath = false

[user]
       name = Liel Dulev
       email = # TODO: Enter your github email (or refer to https://help.github.com/articles/keeping-your-email-address-private)

[color]
       branch = auto
       diff = auto
       interactive = auto
       status = auto
       grep = auto
